<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h1>{{title}}</h1>
            <br />
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row mb-3">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" formControlName="name" required>
                        </div>
                        <div class="row mb-3">
                            <label>Identificación:</label>
                            <input type="text" class="form-control" formControlName="identification" required>
                        </div>
                        <div class="row mb-3">
                            <label>Ciudad:</label>
                            <input type="text" class="form-control" formControlName="city" required>
                        </div>
                        <div class="row mb-3">
                            <label>Rol:</label>
                            <select formControlName="idRole" class="form-control">
                                <option *ngFor="let item of listRoles" value="{{item.id}}"> {{item.name}}</option>
                            </select>
                        </div>
                        <br />
                        <div class="row footer justify-content-md-center">
                            <a class="col-md-4 mb-3 btn btn-light" routerLink="/users/list">Cancelar</a>
                            <button type="button" class=" col-md-4 btn btn-success" (click)="onClickSaveButton()"
                                [disabled]="!form.valid">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>